html {

}

body {
    padding: 0;
    margin: auto;
    width: 100vw;
    display: block;
    //grid-templates-row: 35px auto 35px;
}

button {
    cursor: pointer;
}

div {
    //user-select: none;
    //text-align: center;
    //border: black 1px solid;
}

#header {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgb(120,120,250);
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.slantedLeft20 {
    display: inline-block;
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(20deg, 0deg);
    font-size: 30px;
}
.slantedLeft25 {
    display: inline-block;
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(25deg, 0deg);
    letter-spacing: -0.2rem;
    font-size: 30px;
}
.slantedLeft30 {
    display: inline-block;
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
    letter-spacing: -0.2rem;
    font-size: 25px;    
}
.slantedLeft35 {
    display: inline-block;
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(35deg, 0deg);
    letter-spacing: -0.2rem;
    font-size: 25px;    
}
.slantedLeft40 {
    display: inline-block;
    transform: scale(1) rotate(-10deg) translate(0px, 1px) skew(40deg, 0deg);
    letter-spacing: -0.2rem;
    font-size: 25px;        
}
.slantedLeft45 {
    display: inline-block;
    transform: scale(1) rotate(-15deg) translate(0px, 1px) skew(45deg, 0deg);
    font-size: 25px;    
}

#main {
    display: block;
    width: 100%;
    background-color: rgb(200,200,250)
    font-weight: 700;
    font-size: 25px;
    font-family: Bradley Hand, cursive;
}


#mainHome {
    display: block;
    background-color: rgb(200,200,250);
    text-align: center;
    width: 90%;
    margin: auto;
}

#mainHome div {
    padding-top: 20px;
}

#mainHome button {
    display: block;
    font-weight: 700;
    font-size: 20px;
    font-family: Bradley Hand, cursive;
    width: 90%;
    margin: auto;
    border: 10px groove rgb(150,150,250);
    margin-bottom: 10px;
    background-color: rgb(220,220,255);
    color: rgb(120,120,250);
    padding: 5px;
}

.mainLevel  {
    background-color: rgb(200,200,250);
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 103px; auto;
    background-color: rgb(200,200,250);
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 10px;
    overflow: auto;
}

#mainHome button img {
    height: 20px;
}


#footer, #footerHome, #footerLevel {
    display: flex;
    width: 100%;
    height: 40px;
    box-sizing: border-box;	
    justify-content: center;
    align-items: center; 
    background-color: rgb(200,200,250);
    border-radius: 0px 0px 10px 10px;
    padding: 0 0 5px 0;
}

#footer {
    //border-top: black 1px solid;
}

#footer button {
    color: white;
    height: 35px;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    background-color: rgb(120,120,250);
    border-radius: 10px;
    font-family: Bradley Hand, cursive;
}

#homeBtn {
    margin-right: 20px;
}

.mainLevelHeader {
    box-sizing: border-box;
    width: max-content;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    border: rgb(120,120,250) 2px solid;
    padding: 5px;
}

.mainPuzzles {
    display: block;
    height: inherit;
    font-weight: 500;
    font-size: 20px;

    font-family: sans-serif;
}

.puzzleNumber {
    margin: auto;
    border: black 2px solid;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 290px;
    background-color: rgb(120,120,250);
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

}


.puzzleIcon, .puzzleText {
    display: inline-block;
    text-align: left;
}

.puzzleIcon {
    width: 50px;
}

.puzzleText {
    
    width: 200px;
}

.mainLevel button, .mainLevel button div {
    display: inline-block;
}
