:root {
   --app-height: 100%;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    height: var(--app-height);
}

div {
  margin: 0px;
  padding: 0px;
}

#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    //grid-template-columns: 1fr 1fr 1fr;
    //grid-template-rows: 1fr 294px 1fr 1fr;
    justify-content: center;
    gap: 5px;
    background: white;
}


div {
  //padding: 10px;
  background: #ccc;
  //border: 1px black solid;
}

.header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.grid-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#grid {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
    display: grid;
    grid-template-rows: repeat(5,1fr);
}

.grid-right {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

}


.guess-left {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.guess {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}


#keyboard {
    //height: 400px;
    //width: 100vw;

    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 50px 50px 50px;
    justify-content: center;
    column-gap: 4px;
    row-gap: 10px;    
    background: white;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    
}


.row {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    border: blue 5px solid;
    border-bottom: none;

    width: auto;
}

#row4 {
    border-bottom: blue 5px solid;
}

.cell {
    box-sizing: border;
    display: inline-block;
    border: black 1px solid;
}

#grid_0_0, #grid_1_1,#grid_2_2,#grid_3_3,#grid_4_4,#grid_4_0,#grid_3_1,
#grid_1_3,#grid_0_4 {
    border: 5px red solid;
}
